.header-content{
    min-height: 75vh;
    background-color: #F4EDFF;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
    font-family: 'Sarabun', sans-serif;
    color: #533876;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
    font-family: 'Sarabun', sans-serif;
    color: black;
}